@attribute [Authorize]

@inject IStringLocalizer<General> Localizer

<div class="d-flex flex-column todo-item">
    <div class="d-flex align-items-center">
        @if (todoItemModel.CategoryId.HasValue)
        {
             <div class="category ml-auto">
                <span>@todoItemModel.CategoryName</span>

                <button class="reset-btn ml-2"
                    title="@Localizer["Reset"]"
                    @onclick="ResetCategory">
                    <i class="oi oi-x"></i>
                </button>

                <div class="category-select">
                    <select id="category-selector-@todoItemModel.Id">
                        @foreach (var category in categories.Where(x => x.Id != todoItemModel.CategoryId))
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>
            </div>
        }

        <span class="secondary-custom-btn handle ml-auto" 
              id="drag-handle-@todoItemModel.Id"
              title="@Localizer["Drag"]">
            <i class="oi oi-grid-two-up"></i>
        </span>
    </div>

    <div class="d-flex align-items-center">
        <div class="custom-control custom-checkbox">
            <input type="checkbox"
                   class="custom-control-input"
                   id="todo-item-@todoItemModel.Id"
                   @onchange="CheckTodoItem"
                   checked="@Checked" />
            <label class="custom-control-label" for="todo-item-@todoItemModel.Id"></label>
        </div>

        <div class="name-form">
            <EditNameForm TItem="@TodoItemModel"
                          Item="@todoItemModel"
                          ResetButtonClass="btn-outline-light"
                          OnValidSubmit="SubmitValid"
                          OnInvalidSubmit="SubmitInvalid"/>
        </div>

        <div class="ml-auto">
            <StatusSelector StatusName="@todoItemModel.StatusName" 
                            OnStatusChanged="@UpdateStatus"/>
        </div>
    </div>

    @if (todoItemModel.ImageContent is not null)
    {
        <div class="image-container">
            <img src="data:image;base64,@Convert.ToBase64String(todoItemModel.ImageContent)"
                 class="img-fluid align-self-center" />
            <button class="reset-image-btn"
                    title="@Localizer["Reset"]"
                    @onclick="ResetImage">
                <i class="oi oi-x"></i>
            </button>
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(todoItemModel.Address))
    {
        <div class="location">
            <a href="http://maps.google.com/?q=@todoItemModel.Address" target="_blank">@todoItemModel.Address</a>

            <button class="reset-btn ml-3"
                    title="@Localizer["Reset"]"
                    @onclick="ResetLocation">
                <i class="oi oi-x"></i>
            </button>
        </div>
    }

    <div class="d-flex align-items-center justify-content-between">
        <div class="days-ago">
            @todoItemModel.DaysAgo @Localizer["DaysAgo"]
        </div>  
        
        @if (todoItemModel.DueDate.HasValue)
        {
            <div class="due-date">
                @Localizer["Due"] @todoItemModel.DueDate.Value.ToShortDateString()

                <button class="reset-btn ml-2"
                        title="@Localizer["Reset"]"
                        @onclick="ResetDueDate">
                    <i class="oi oi-x"></i>
                </button>
            </div>
        }
    </div>

    <hr>

    <div class="d-flex justify-content-center align-items-center">
        <div class="controls">
            <div class="position-relative d-inline-flex">
                <button id="open-selector-@todoItemModel.Id"
                        class="secondary-custom-btn"
                        title="@Localizer["Category"]">
                    <i class="oi oi-tag"></i>
                </button>

                @if (!todoItemModel.CategoryId.HasValue)
                {
                    <div class="category-select-new">
                        <select id="category-selector-@todoItemModel.Id">
                            @foreach (var category in categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>
                }
            </div>

            <div class="due-date-selector">
                <label for="due-date-@todoItemModel.Id"
                       class="secondary-custom-btn"
                       title="@Localizer["Due"]">
                    <i class="oi oi-calendar"></i>
                </label>
                <input data-provide="datepicker"
                       value="@todoItemModel.DueDate.GetValueOrDefault().ToShortDateString()"
                       id="due-date-@todoItemModel.Id"
                       data-date-start-date="1d"
                       data-date-autoclose="true" />
            </div>

            <button class="secondary-custom-btn"
                    title="@Localizer["Location"]"
                    @onclick="ChangeLocation">
                <i class="oi oi-map-marker"></i>
            </button>

            <label for="image-@todoItemModel.Id"
                   class="secondary-custom-btn"
                   title="@Localizer["Image"]"
                   tabindex="0">
                <i class="oi oi-image"></i>
            </label>
            <InputFile OnChange="@ChangeImage"
                       id="@($"image-{todoItemModel.Id}")" />
        </div>

        <button class="delete"
                title="@Localizer["Delete"]"
                @onclick="Delete">
            <i class="oi oi-ban"></i>
        </button>
    </div>
</div>
