<div class="d-flex flex-column todo-item">
    @if (!string.IsNullOrWhiteSpace(TodoItemModel.CategoryName))
    {
        <div class="category">
            #@TodoItemModel.CategoryName
        </div>
    }

    <div class="d-flex align-items-center">
        <div class="custom-control custom-checkbox">
            <input type="checkbox"
                   class="custom-control-input"
                   id="todo-item-@TodoItemModel.Id"
                   @onchange="ChangeStatus"
                   checked="@IsChecked" />
            <label class="custom-control-label" for="todo-item-@TodoItemModel.Id">&nbsp;</label>
        </div>

        <div class="name-form">
            <EditNameForm TItem="@TodoItemModel"
                          Item="@TodoItemModel"
                          SubmitButtonClass="btn-outline-light"
                          ResetButtonClass="btn-outline-light   "
                          OnValidSubmit="Update" />
        </div>

        <div class="status">
            @TodoItemModel.StatusName
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(TodoItemModel.Address))
    {
        <a href="http://maps.google.com/?q=@TodoItemModel.Address" target="_blank">@TodoItemModel.Address</a>
    }

    @if (TodoItemModel.ImageContent is not null)
    {
        <img src="data:image;base64,@Convert.ToBase64String(TodoItemModel.ImageContent)"
             class="img-fluid align-self-center" />
    }

    <div class="d-flex justify-content-between align-items-center">
        <div class="days-ago">
            @TodoItemModel.DaysAgo Days ago
        </div>

        <span class="d-flex delete"
              @onclick="Delete">
            <i class="oi oi-ban"></i>
        </span>
    </div>
</div>
