@inject IStringLocalizer<General> Localizer

<div class="d-flex flex-column todo-item">
    <div class="category d-flex justify-content-center align-items-center text-center">
        <select id="category-select-@TodoItemModel.Id @(TodoItemModel.CategoryId.HasValue ? "" : "placeholder")">
            @if (!TodoItemModel.CategoryId.HasValue)
            {
                <option value="" 
                        selected="@(!TodoItemModel.CategoryId.HasValue)"
                        disabled>
                    @Localizer["Add Category"]
                </option>
            }

            @foreach (var category in categories)
            {
                <option value="@category.Id" selected="@(TodoItemModel.CategoryId == category.Id)">@category.Name</option>
            }
        </select>

        @if (TodoItemModel.CategoryId.HasValue)
        {
            <button class="reset"
                @onclick="ResetCategory">
               <i class="oi oi-x"></i>
            </button>
        }
    </div>

    <div class="d-flex align-items-center">
        <div class="custom-control custom-checkbox">
            <input type="checkbox"
                   class="custom-control-input"
                   id="todo-item-@TodoItemModel.Id"
                   @onchange="CheckTodoItem"
                   checked="@Checked" />
            <label class="custom-control-label" for="todo-item-@TodoItemModel.Id">&nbsp;</label>
        </div>

        <div class="name-form">
            <EditNameForm TItem="@TodoItemModel"
                          Item="@TodoItemModel"
                          SubmitButtonClass="btn-outline-light"
                          ResetButtonClass="btn-outline-light"
                          OnValidSubmit="Update" />
        </div>

        <div class="dropdown ml-auto">
            <button id="dropdown-btn"
                    class="status-btn"
                    data-toggle="dropdown" 
                    aria-haspopup="true"
                    aria-expanded="false"
                    @onclick="LoadStatuses">
                @TodoItemModel.StatusName
            </button>

            <div class="dropdown-menu dropdown-menu-right status-menu" aria-labelledby="dropdown-btn">
                @foreach (var status in statuses.Where(x => x.Id != TodoItemModel.StatusId))
                {
                    <button class="dropdown-item status-item @StatusModel.GetBackgroundColor(status.Name)" 
                            @onclick="() => UpdateStatus(status.Id)">
                        @status.Name
                    </button>
                }
            </div>
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(TodoItemModel.Address))
    {
        <a href="http://maps.google.com/?q=@TodoItemModel.Address" target="_blank">@TodoItemModel.Address</a>
        <button @onclick="UpdateLocation">
            Update
        </button>
    }

    @if (TodoItemModel.ImageContent is not null)
    {
        <img src="data:image;base64,@Convert.ToBase64String(TodoItemModel.ImageContent)"
             class="img-fluid align-self-center" />
    }

    <div class="d-flex justify-content-between align-items-center">
        <div class="days-ago">
            @TodoItemModel.DaysAgo Days ago
        </div>

        <button class="delete"
              @onclick="Delete">
            <i class="oi oi-ban"></i>
        </button>
    </div>
</div>
