@inject IStringLocalizer<General> Localizer

<div class="d-flex flex-column todo-item">
    <div class="category d-flex justify-content-center align-items-center text-center">
        <select id="category-select-@TodoItemModel.Id @(TodoItemModel.CategoryId.HasValue ? "" : "placeholder")">
            @if (!TodoItemModel.CategoryId.HasValue)
            {
                <option value="" 
                        selected="@(!TodoItemModel.CategoryId.HasValue)"
                        disabled>
                    @Localizer["Add Category"]
                </option>
            }

            @foreach (var category in categories)
            {
                <option value="@category.Id" selected="@(TodoItemModel.CategoryId == category.Id)">@category.Name</option>
            }
        </select>

        @if (TodoItemModel.CategoryId.HasValue)
        {
            <button class="reset btn"
                @onclick="ResetCategory">
               <i class="oi oi-x"></i>
            </button>
        }
    </div>

    <div class="d-flex align-items-center">
        <div class="custom-control custom-checkbox">
            <input type="checkbox"
                   class="custom-control-input"
                   id="todo-item-@TodoItemModel.Id"
                   @onchange="ChangeStatus"
                   checked="@Checked" />
            <label class="custom-control-label" for="todo-item-@TodoItemModel.Id">&nbsp;</label>
        </div>

        <div class="name-form">
            <EditNameForm TItem="@TodoItemModel"
                          Item="@TodoItemModel"
                          SubmitButtonClass="btn-outline-light"
                          ResetButtonClass="btn-outline-light"
                          OnValidSubmit="Update" />
        </div>

        <div class="status">
            @TodoItemModel.StatusName
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(TodoItemModel.Address))
    {
        <a href="http://maps.google.com/?q=@TodoItemModel.Address" target="_blank">@TodoItemModel.Address</a>
    }

    @if (TodoItemModel.ImageContent is not null)
    {
        <img src="data:image;base64,@Convert.ToBase64String(TodoItemModel.ImageContent)"
             class="img-fluid align-self-center" />
    }

    <div class="d-flex justify-content-between align-items-center">
        <div class="days-ago">
            @TodoItemModel.DaysAgo Days ago
        </div>

        <button class="delete"
              @onclick="Delete">
            <i class="oi oi-ban"></i>
        </button>
    </div>
</div>
