@model ToDoList.MvcClient.ViewModels.IndexViewModel

<div class="d-flex flex-row">
    @foreach (var checklist in Model.ChecklistModels)
    {
        <div class="row d-flex justify-content-center container">
            <div class="col-md-12">
                <div class="mb-3 card">
                    <div class="card-header">
                        <div class="font-size-lg text-capitalize font-weight-normal">
                            <i class="bi bi-list-task"></i>&nbsp;@checklist.Name
                        </div>
                    </div>
                    <div style="position: static;">
                        <div>
                            <ul class=" list-group list-group-flush">
                                @foreach (var todoItem in Model.TodoItemModels.Where(i => i.ChecklistName == checklist.Name))
                                {
                                    <li class="list-group-item">
                                        <div class="bg-warning"></div>
                                        <div class="p-0">
                                            <div>
                                                <div class="mr-2">
                                                    <div class="custom-checkbox custom-control">
                                                        <input class="custom-control-input" id="@todoItem.Name" type="checkbox">
                                                        <label class="custom-control-label" for="@todoItem.Name">&nbsp;</label>
                                                    </div>
                                                </div>

                                                <div>
                                                    <div>
                                                        @todoItem.Name
                                                        <div class="badge badge-danger ml-2">Rejected</div>
                                                        <img src="@Url.Content(todoItem.ImagePath)" class="img-fluid" />
                                                    </div>
                                                </div>

                                                <div>
                                                    <button onclick="showPopup('@Url.Action("CreateOrUpdate", "Todo", new { TodoItemsId = todoItem.Id, ChecklistId = checklist.Id }, Context.Request.Scheme)','Update task in @todoItem.ChecklistName list')" class="border-0 btn-transition btn btn-outline-info"><i class="bi bi-pencil"></i></button>

                                                    <form asp-action="Delete" method="post" asp-route-id="@todoItem.Id" onsubmit="return ajaxDelete(this);" class="d-inline">
                                                        <button type="submit" class="border-0 btn-transition btn btn-outline-danger"> <i class="bi bi-trash"></i> </button>
                                                    </form>

                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="d-block text-right card-footer">
                        <button onclick="showPopup('@Url.Action("CreateOrUpdate", "Todo", new { ChecklistId = checklist.Id }, Context.Request.Scheme)','New task for @checklist.Name list')" class="btn btn-primary">Add Task</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>