@using ToDoList.MvcClient.Resources

@inject IStringLocalizer<General> Localizer
@inject IStringLocalizer<CreateOrUpdate> ViewLocalizer
@model ToDoList.MvcClient.ViewModels.CreateTodoItemViewModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateOrUpdate" asp-route-id="@Model.TodoItemModel.Id" onsubmit="return ajaxPost(this);">
            @Html.HiddenFor(m => m.TodoItemModel.Id)

            @Html.HiddenFor(m => m.TodoItemModel.StartDate)
            @Html.HiddenFor(m => m.TodoItemModel.ImageId)
            @Html.HiddenFor(m => m.TodoItemModel.ImageName)

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group required">
                <label asp-for="TodoItemModel.Name" class="control-label"></label>
                <input asp-for="TodoItemModel.Name" class="form-control" required />
                <span asp-validation-for="TodoItemModel.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TodoItemModel.DueDate" class="control-label"></label>
                <input asp-for="TodoItemModel.DueDate" type="datetime-local" class="form-control" />
                <span asp-validation-for="TodoItemModel.DueDate" class="text-danger"></span>
            </div>

            <div class="form-group required">
                <label asp-for="TodoItemModel.ChecklistId" class="control-label"></label>
                <select class="form-control" asp-for="TodoItemModel.ChecklistId" asp-items="@new SelectList(Model.ChecklistModels, nameof(ChecklistModel.Id), nameof(ChecklistModel.Name), Model.SelectedChecklistId)">
                    <option value="" disabled>@ViewLocalizer["SelectChecklist"]</option>
                </select>
                <span asp-validation-for="TodoItemModel.ChecklistId" class="text-danger"></span>
            </div>

            <div class="form-group required">
                <label asp-for="TodoItemModel.StatusId" class="control-label"></label>
                <select class="form-control" asp-for="TodoItemModel.StatusId" asp-items="@new SelectList(Model.StatusModels, nameof(StatusModel.Id), nameof(StatusModel.Name), Model.SelectedStatusId)">
                    <option value="" disabled>@ViewLocalizer["SelectStatus"]</option>
                </select>
                <span asp-validation-for="TodoItemModel.StatusId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TodoItemModel.CategoryId" class="control-label"></label>
                <select class="form-control" id="categorySelector" asp-for="TodoItemModel.CategoryName" asp-items="@new SelectList(Model.CategoryModels, nameof(CategoryModel.Name), nameof(CategoryModel.Name), Model.SelectedCategoryId)">
                    <option value="">@Localizer["Category"]</option>
                </select>
                <span asp-validation-for="TodoItemModel.CategoryId" class="text-danger"></span>
            </div>

            <div class="form-row mb-2">
                <div class="col">
                    <input id="latitude" class="form-control" placeholder="@ViewLocalizer["Latitude"]" readonly asp-for="TodoItemModel.Latitude" value="@Model.TodoItemModel.Latitude" />
                </div>
                <div class="col">
                    <input id="longitude" class="form-control" placeholder="@ViewLocalizer["Longitude"]" readonly asp-for="TodoItemModel.Longitude" value="@Model.TodoItemModel.Longitude" />
                </div>    
                <div class="col flex-grow-0">
                    <button id="resetLocation" class="btn btn-outline-secondary" type="button">@Localizer["Reset"]</button>
                </div>
            </div>

            <div class="form-group">
                <div id="map" style="height: 400px; width: 100%;"></div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.TodoItemModel.ImageId"></label>

                <div class="d-flex">
                    <div class="custom-file mr-2">
                        <input asp-for="TodoItemModel.Image" class="custom-file-input" id="customFile" />
                        <label asp-for="TodoItemModel.Image" id="fileLabel" class="custom-file-label">@ViewLocalizer["ChooseImage"]</label>
                    </div>

                    <button id="resetImage" class="btn btn-outline-secondary" type="button">@Localizer["Reset"]</button>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<style>
    #fileLabel::after {
        content: "@ViewLocalizer["Browse"]";
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
