@typeparam TItem

<div>
    <EditForm Model="@Item"
              OnValidSubmit="@Submit"
              OnInvalidSubmit="@Reset"
              class="@activeClass">
        <DataAnnotationsValidator />
    
        <InputText @bind-Value="Item.Name"
                   @onfocus="SetFocus"
                   class="form-control" />

        @if (isInFocus)
        {
            <button type="submit"
                    class="border-0 btn @SubmitButtonClass">
                <i class="oi oi-check"></i>
            </button>
            <button type="button"
                    class="border-0 btn @ResetButtonClass"
                    @onclick="Reset">
                <i class="oi oi-x"></i>
            </button>
        }
    </EditForm>
</div>