@model ToDoList.MvcClient.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="d-flex flex-column">
    @foreach (var checklist in Model.ChecklistModels)
    {
        <div class="row d-flex justify-content-center container">
            <div class="col-md-8">
                <div class="mb-3 card">
                    <div class="card-header">
                        <div class="font-size-lg text-capitalize font-weight-normal">
                            <i class="bi bi-list-task"></i>&nbsp;@checklist.Name
                        </div>
                    </div>
                    <div style="position: static;">
                        <div>
                            <ul class=" list-group list-group-flush">
                                @foreach (var todoItem in Model.TodoItemModels.Where(i => i.ChecklistName == checklist.Name))
                                {
                                    <li class="list-group-item">
                                        <div class="bg-warning"></div>
                                        <div class="p-0">
                                            <div>
                                                <div class="mr-2">
                                                    <div class="custom-checkbox custom-control">
                                                        <input class="custom-control-input" id="@todoItem.Name" type="checkbox">
                                                        <label class="custom-control-label" for="@todoItem.Name">&nbsp;</label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div>
                                                        @todoItem.Name
                                                        <div class="badge badge-danger ml-2">Rejected</div>
                                                        <img src="@Url.Content(todoItem.ImagePath)" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <form asp-action="Delete" method="post" asp-route-id="@todoItem.Id" onsubmit="">
                                                        <button type="submit" class="border-0 btn-transition btn btn-outline-danger"> <i class="bi bi-trash"></i> </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="d-block text-right card-footer">
                        <button onclick="showPopup('@Url.Action("Create", "Home", null, Context.Request.Scheme)','New task')" class="btn btn-primary">Add Task</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
