@attribute [Authorize]

@inject IStringLocalizer<General> Localizer

<div class="card item @cardDropClass"
     ondragover="event.preventDefault();"
     ondragstart="event.dataTransfer.setData('', event.target.id);"
     @ondrop="HandleDrop"
     @ondragenter="HandleDragEnter"
     @ondragleave="HandleDragLeave">

    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
              <span class="d-flex collapse-button"
                    data-toggle="collapse" 
                    data-target="#checklist-@checklistModel.Id" 
                    aria-expanded="true" 
                    aria-controls="checklist-@checklistModel.Id"
                    @onclick="Collapse">
                <i class="oi oi-chevron-@(collapsed ? "bottom" : "top")"></i>
              </span>

            <div class="name-form">
                <EditNameForm TItem="@ChecklistModel"
                              Item="@checklistModel"
                              ResetButtonClass="btn-outline-secondary"
                              OnValidSubmit="SubmitValid"
                              OnInvalidSubmit="Delete"/>
            </div>
        </div>

        <div class="d-flex">
            <AddButton Hint="@Localizer["AddTask"]"
                       OnClick="@AddTodoItem" />

            @if (checklistModel.Name != "Untitled")
            {
                <DeleteButton OnClick="@Delete" />
            }
        </div>
    </div>

    <div class="collapse show" id="checklist-@checklistModel.Id">
        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="btn custom-primary-outline-btn active"
                       id="notDone-@checklistModel.Id-tab"
                       data-toggle="tab"
                       href="#notDone-@checklistModel.Id"
                       role="tab">
                        @Localizer["ActiveTab"]
                        <span class="badge badge-light">
                            @ActiveTodoItems.Count
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="btn custom-secondary-outline-btn"
                       id="done-@checklistModel.Id-tab"
                       data-toggle="tab"
                       href="#done-@checklistModel.Id"
                       role="tab">
                        @Localizer["DoneTab"]
                        <span class="badge badge-light">
                            @DoneTodoItems.Count
                        </span>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <ul class="tab-pane scrollable show active list-group list-group-flush" id="notDone-@checklistModel.Id">
                   <TodoItemsList TodoItemModels="@ActiveTodoItems" />
                </ul>

                <ul class="tab-pane scrollable list-group list-group-flush" id="done-@checklistModel.Id">
                   <TodoItemsList TodoItemModels="@DoneTodoItems" />
                </ul>
            </div>
        </div>
    </div>
</div>
