@page "/register"

@using System.Net.Http
@using ToDoList.BlazorClient.Services

@inject NavigationManager NavManager
@inject IAuthenticationService AuthService
@inject IStringLocalizer<General> Localizer

<div class="d-flex flex-column position-relative">
	<h3>@Localizer["RegisterTitle"]</h3>

	<EditForm Model="@user" OnValidSubmit="CreateUser">
		<DataAnnotationsValidator />

		<div class="form-group row">
			<label for="username" class="col-md-2 col-form-label">@Localizer["Username"]: </label>
			<div class="col-md-10">
				<InputText id="username" class="form-control" @bind-Value="user.Name" />
				<ValidationMessage For="@(() => user.Name)" />
			</div>
		</div>

		<div class="form-group row">
			<label for="password" class="col-md-2 col-form-label">@Localizer["Password"]: </label>
			<div class="col-md-10">
				<InputText type="password" id="password" class="form-control" @bind-Value="user.Password" />
				<ValidationMessage For="@(() => user.Password)" />
			</div>
		</div>

		<div class="form-group row">
			<label for="confirm-password" class="col-md-2 col-form-label">@Localizer["Confirm Password"]: </label>
			<div class="col-md-10">
				<InputText type="password" id="confirm-password" class="form-control" @bind-Value="user.ConfirmPassword" />
				<ValidationMessage For="@(() => user.ConfirmPassword)" />
			</div>
		</div>

		@if (!isLoading && string.IsNullOrWhiteSpace(error))
		{
			<div class="row">
				<div class="col-md-12 text-right">
					<button type="submit" class="btn btn-success">@Localizer["Register"]</button>
				</div>
			</div>
		}
	</EditForm>

	@if (!string.IsNullOrWhiteSpace(error))
	{
		<ErrorMessage @bind-Error="error" />
	}

	@if (isLoading)
	{
		<Spinner />
	}
</div>

@code {
	private UserModel user = new();

	private string error;
	private bool isLoading;

	private async Task CreateUser()
	{
		isLoading = true;

		try
		{
			await AuthService.AuthenticateAsync("Register", user);
			isLoading = false;

			NavManager.NavigateTo("/");
		}
		catch (HttpRequestException e) when (e.StatusCode == System.Net.HttpStatusCode.Unauthorized)
		{
			isLoading = false;
			error = Localizer["Registration Failed"];
		}
	}
}
